* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #fafaf8;

}

header {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 11px;
    height: 80px;
}

header > img {
    width: 53px;
}

header > h1 {
    font-weight: 400;
}

